.input-group>.textbox {
    max-width: 385px;
    border-radius: .25rem;
}
.input-group>.small-textbox {
    max-width: 190px;
    border-radius: .25rem;
}
#view-section > div:first-child {
    background-color: #0275BE;
    color: #fff;
    border-radius: 0.25rem;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.sort {
    min-width: 0px;
}
#userInfo {
    height: 600px;
    overflow-y: auto;
}
#userDetails {
    padding: 10px;
    border: 1px cadetblue solid;
    border-radius: 0.25rem;
}
.icon {
    display: none;
}
@media screen and (max-width: 768px) {
    #reset {
        margin-right: 0px!important;
    }
    .sort {
        padding-left:  0!important;
        margin-top: 10px!important;
    }
    .icon {
        display: block;
    }
}
