.input-group>.textbox {
    max-width: 460px;
    border-radius: .25rem;
}
.input-group>.medium-textbox {
    max-width: 345px;
    border-radius: .25rem;
}
.form-control-range {
    width: 45%;
}
input[type='date'] {
    border-radius: .25rem;    
}
.sort {
    min-width: 0px;
}
#projectInfo {
    max-height: 600px;
    overflow-y: auto;
}
.card {
    background-color: #E0FFFF;
}
.projectLabel {
    min-width: 180px;
}
.priorityLabel {
    min-width: 50px;
    text-align: center;
    padding-top: 25px;
    height: 80px;
    background-color: darkgray;
    border-radius: 0.25rem;
}
@media screen and (max-width: 768px) {
    label {
        min-width: 70px;
    }
    input[type="date"] {
        font-size: 14px;
    }
    .form-control-range {
        width: 57%;
    }
    .sort {
        padding-left: 0px!important;
    }
    .btn-sm {
        padding: .25rem .3rem;
        font-size: .65rem;
    }
    .priorityLabel {
        margin-left: 100px;
    }
    #update {
        margin-right: 20px;
    }
    .card-group {
        border: 1px solid cadetblue;
        padding: 0px;
    }
    .card-group>.card {
        margin-bottom: 0px;
    }
}
